* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    font-family: "Roboto", serif;
    height: 30px;
    color: aliceblue;
    padding: 5px;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    padding-bottom: 0;
}

.game {
    display: grid;
    grid-template-columns: 9vw 9vw 9vw;
    grid-template-rows :9vw 9vw 9vw;



}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 5vw;
    border: 1.5px dashed black;
}

.textbox:hover {
    background-color: rgba(245, 10, 10, 0.179);
}

.bt0 {
    border-top: 0;
}

.bl0 {
    border-left: 0;
}

.br0 {
    border-right: 0;
}

.bb0 {
    border-bottom: 0cm;
}

.info {
    font-family: "Roboto", serif;
    font-size: 3vw;
    padding-left: 10vw;
}

#reset {
    cursor: pointer;
    border-radius: 3px;
    font-size: 2.5vw;
    font-family: "Roboto", serif;
    font-weight: 500;
    line-height: 16px;
    padding: 1vw 1vw;
    margin-top: 2vw;
    min-width: 60px;
    min-height: 32px;
    border: none;
    color: #fff;
    background-color: #4f545c;
    transition: background-color .17s ease, color .17s ease;
}

.announce {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-family: "Press Start 2P", serif;
    height: 13vw;
    color: rgb(11, 70, 11);
}

#image {
    height: 15vw;
    display: flex;
    width: 0;
}

